modules = ["nodejs-20", "web"]
run = "npx serve"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "/"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Serve HTML"

[[workflows.workflow]]
name = "Serve HTML"
author = 19121412
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
